<nav class="navigation" aria-label="Primary">
  <ul class="navigation__list">
    <li>
      <a data-route="home" href="/templates/layout-dashboard.html" class="navigation__item"
        ><i class="fa-sharp fa-regular fa-house"></i><span class="navigation__label">Home</span></a
      >
    </li>
    <li>
      <a data-route="policies" href="/templates/layout-policies-home.html" class="navigation__item"
        ><i class="fa-sharp fa-regular fa-file-contract"></i> <span class="navigation__label">Policies</span></a
      >
    </li>
    <li>
      <a data-route="billing" href="/templates/billing/" class="navigation__item"
        ><i class="fa-sharp fa-regular fa-file-invoice-dollar"></i> <span class="navigation__label">Billing</span></a
      >
    </li>
    <li>
      <a data-route="claims" href="/templates/layout-claims-overview.html" class="navigation__item"
        ><i class="fa-sharp fa-regular fa-clipboard"></i> <span class="navigation__label">Claims</span></a
      >
    </li>
    <li>
      <a data-route="featured" href="#" class="navigation__item" aria-disabled="true"
        ><i class="fa-sharp fa-regular fa-star"></i> <span class="navigation__label">Featured</span></a
      >
    </li>
  </ul>
</nav>
