<header class="site-header">
  <div class="container header-container">
    <div class="site-logo"><span>AFI</span>connect</div>
    <div class="site-header__icons">
      <a href="#" class="site-header__item" aria-label="Messages">
        <i class="fa-sharp fa-regular fa-envelope"></i>
        <div class="badge"></div>
      </a>
      <a href="#" class="site-header__item" aria-label="Profile">
        <i class="fa-sharp fa-regular fa-comment"></i>
      </a>
      <a href="#" class="site-header__item" aria-label="Settings">
        <i class="fa-sharp fa-regular fa-gear"></i>
      </a>
    </div>
  </div>
</header>
