<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site Header</title>
    <link rel="stylesheet" href="/css/common.css" />
    <script src="https://kit.fontawesome.com/bc49f81a82.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <p><a href="/index.html">Back to Index</a></p>

    <header class="site-header">
      <div class="container header-container">
        <div class="site-logo"><span>AFI</span>connect</div>
        <div class="site-header__icons">
          <a href="#" class="site-header__item" aria-label="Messages">
            <div class="icon-container">
              <i class="fa-sharp fa-regular fa-envelope"></i>
              <div class="badge"></div>
            </div>
          </a>

          <a href="#" class="site-header__item" aria-label="Profile">
            <div class="icon-container">
              <i class="fa-sharp fa-regular fa-comment"></i>
            </div>
          </a>
          <a href="#" class="site-header__item" aria-label="Settings">
            <div class="icon-container">
              <i class="fa-sharp fa-regular fa-gear"></i>
            </div>
          </a>
        </div>
      </div>
    </header>
  </body>
</html>
