<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Navigation Component Demo</title>
    <link rel="stylesheet" href="../../css/common.css" />
    <script src="https://kit.fontawesome.com/bc49f81a82.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <p><a href="../../index.html">Back to Index</a></p>

    <h2>Navigation</h2>
    <p>Resize browser to see mobile vs desktop version</p>

    <nav class="navigation" aria-label="Primary">
      <ul class="navigation__list">
        <li>
          <a href="#" class="navigation__item navigation__item--active" aria-current="page"
            ><i class="fa-sharp fa-regular fa-house"></i><span class="navigation__label">Home</span></a
          >
        </li>
        <li>
          <a href="#" class="navigation__item"
            ><i class="fa-sharp fa-regular fa-file-contract"></i> <span class="navigation__label">Policies</span></a
          >
        </li>
        <li>
          <a href="#" class="navigation__item"
            ><i class="fa-sharp fa-regular fa-file-invoice-dollar"></i>
            <span class="navigation__label">Billing</span></a
          >
        </li>
        <li>
          <a href="#" class="navigation__item"
            ><i class="fa-sharp fa-regular fa-clipboard"></i> <span class="navigation__label">Claims</span></a
          >
        </li>
        <li>
          <a href="#" class="navigation__item navigation__item--disabled" aria-disabled="true"
            ><i class="fa-sharp fa-regular fa-star"></i> <span class="navigation__label">Disabled</span></a
          >
        </li>
      </ul>
    </nav>
  </body>
</html>
