<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Policy Card component</title>
    <link rel="stylesheet" href="../../css/common.css" />
    <script src="https://kit.fontawesome.com/bc49f81a82.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <p><a href="../../index.html">Back to Index</a></p>

    <div class="container" style="max-width: 600px; margin: 1rem auto">
      <!-- Example of a policy card -->
      <a href="/policy/HO123456789" class="policy-card policy-card--active">
        <div class="policy-card__icon">
          <i class="fa-regular fa-sharp fa-house"></i>
        </div>
        <div class="policy-card__content">
          <div class="policy-card__meta">
            <span class="policy-card__type">Homeowner</span>
            <span class="policy-card__number">(HO123456789)</span>
            <div class="tag tag--error">Past Due</div>
          </div>

          <div class="policy-card__address">
            12500 Knollwood Dr,<br />
            Leavenworth, KS 66048-7259
          </div>
          <div class="policy-card__term">Mar 1, 2025 – Feb 28, 2026</div>
        </div>
        <div class="policy-card__chevron">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </a>

      <a href="/policy/HO123456789" class="policy-card policy-card--active">
        <div class="policy-card__icon">
          <i class="fa-regular fa-sharp fa-house"></i>
        </div>
        <div class="policy-card__content">
          <div class="policy-card__meta">
            <span class="policy-card__type">Homeowner</span>
            <span class="policy-card__number">(HO123456789)</span>
            <div class="tag">Active</div>
          </div>

          <div class="policy-card__address">
            12500 Knollwood Dr,<br />
            Leavenworth, KS 66048-7259
          </div>
          <div class="policy-card__term">Mar 1, 2025 – Feb 28, 2026</div>
        </div>
        <div class="policy-card__chevron">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </a>

      <a href="/policy/HO123456789" class="policy-card policy-card--active">
        <div class="policy-card__icon">
          <i class="fa-regular fa-sharp fa-house"></i>
        </div>
        <div class="policy-card__content">
          <div class="policy-card__meta">
            <span class="policy-card__type">Homeowner</span>
            <span class="policy-card__number">(HO123456789)</span>
            <div class="tag tag--info">Upcoming</div>
          </div>

          <div class="policy-card__address">
            12500 Knollwood Dr,<br />
            Leavenworth, KS 66048-7259
          </div>
          <div class="policy-card__term">Mar 1, 2025 – Feb 28, 2026</div>
        </div>
        <div class="policy-card__chevron">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </a>

      <!-- end -->
    </div>
  </body>
</html>
