<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css" />
    <script src="https://kit.fontawesome.com/bc49f81a82.js" crossorigin="anonymous"></script>
  </head>
  <body data-layout="page">
    <include data-include="site-header"></include>
    <div class="container site-content">
      <include data-active="policies" data-include="nav"></include>

      <main class="layout__main">
        <header class="page-header">
          <div
            class="page-header__info"
            style="width: 100%; display: flex; align-items: center; justify-content: space-between">
            <h1 class="page-header__title">Your Policies</h1>
            <div class="action">
              <button class="btn btn--link"><i class="fa-regular fa-sharp fa-pencil"></i> Request Changes</button>
            </div>
          </div>
        </header>

        <section class="alerts" role="region" aria-label="Notifications">
          <div class="alert alert--default" data-alert>
            <div class="alert__content">
              <div class="alert__title">Upcoming Payment</div>
              <div class="alert__description">Your auto policy payment is due soon.</div>
            </div>
            <button class="alert__close" aria-label="Dismiss alert" data-alert-close>&times;</button>
          </div>
        </section>

        <section class="policies-container">
          <a href="/templates/layout-policy-view.html" class="policy-card policy-card--active">
            <div class="policy-card__icon">
              <i class="fa-regular fa-sharp fa-house"></i>
            </div>
            <div class="policy-card__content">
              <div class="policy-card__meta">
                <span class="policy-card__type">Homeowner</span>
                <span class="policy-card__number">(HO123456789)</span>
                <div class="tag tag--error">Past Due</div>
              </div>

              <div class="policy-card__address">
                12500 Knollwood Dr,<br />
                Leavenworth, KS 66048-7259
              </div>
              <div class="policy-card__term">Mar 1, 2025 – Feb 28, 2026</div>
            </div>
            <div class="policy-card__chevron">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>

          <a href="/templates/layout-policy-view.html" class="policy-card policy-card--active">
            <div class="policy-card__icon">
              <i class="fa-regular fa-sharp fa-car"></i>
            </div>
            <div class="policy-card__content">
              <div class="policy-card__meta">
                <span class="policy-card__type">Auto</span>
                <span class="policy-card__number">(A123456789)</span>
                <div class="tag tag--success">Active</div>
              </div>

              <div class="policy-card__address">
                12500 Knollwood Dr,<br />
                Leavenworth, KS 66048-7259
              </div>
              <div class="policy-card__term">Mar 1, 2025 – Feb 28, 2026</div>
            </div>
            <div class="policy-card__chevron">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>

          <a href="/templates/layout-policy-view.html" class="policy-card policy-card--active">
            <div class="policy-card__icon">
              <i class="fa-regular fa-sharp fa-house"></i>
            </div>
            <div class="policy-card__content">
              <div class="policy-card__meta">
                <span class="policy-card__type">Homeowner</span>
                <span class="policy-card__number">(HO123456789)</span>
                <div class="tag tag--info">Upcoming</div>
              </div>

              <div class="policy-card__address">
                12500 Knollwood Dr,<br />
                Leavenworth, KS 66048-7259
              </div>
              <div class="policy-card__term">Mar 1, 2025 – Feb 28, 2026</div>
            </div>
            <div class="policy-card__chevron">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </section>
      </main>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
